.background-div {
    background-color: #fbfbfd;
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar-expand-lg .navbar-collapse {
    flex-grow: unset !important;
    justify-content: flex-end;
}

.navbar-collapse .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-collapse .navbar-nav .nav-link:hover {
    color: #ff7900;
    text-decoration: underline
}

.getintouch-button {
    background: transparent !important;
    border: 2px solid #ffffff !important;
    border-radius: 0px !important;
    padding: 10px 20px !important;
    margin-top: 100px;
    font-weight: 500 !important;
}

.getintouch-button:hover {
    border: 2px solid #05bc58 !important;
    background-color: #05bc58 !important;
}

.home-shadow-div {
    box-shadow: 0px 25px 100px 0px rgba(1, 1, 64, 0.1);
    padding: 52px 40px;
    border-radius: 16px
}

.dashed-title::after {
    content: "";
    display: block;
    width: 200px;
    height: 5px;
    background: linear-gradient(to left, #fff, #ff7900);
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.button-type3 {
    border: 2px solid #ff7900 !important;
    width: fit-content !important;
    padding: 15px !important;
    text-decoration: none;
    color: #ff7900 !important;
    font-weight: 600 !important;
    background-color: #ffffff !important;
}


.button-type3:hover {
    border: 2px solid #05bc58 !important;
    background-color: #05bc58 !important;
    color: #ffffff !important;
    font-size: 18px;
}

.button-type4 {
    border: 2px solid #ff7900 !important;
    background: #ff7900 !important;
    width: fit-content !important;
    padding: 15px !important;
    text-decoration: none;
}

.button-type5 {
    border: 2px solid #ff7900 !important;
    background: #ff7900 !important;
    padding: 15px !important;
    color: #ffffff !important;
    border-radius: 0px !important;
}

.button-type5:hover {
    border: 2px solid #ff7900 !important;
    background: #ffffff !important;
    padding: 15px !important;
    color: #ff7900 !important;
}

.custom-link {
    text-decoration: none;
    color: #000000;
}

.custom-link2 {
    text-decoration: none;
    color: #ffffff;
}

.shadow-box {
    box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    -webkit-box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    -moz-box-shadow: 1px 5px 12px 6px rgba(237, 231, 231, 0.75);
    background: #ffffff;
}

.website-button2 {
    background-color: #05bc58 !important;
    color: #ffffff !important;
    padding: 15px 50px !important;
    font-size: 18px !important;
    border: none !important;
    border-radius: 0px !important;
}

.our-process-item {
    min-height: 403px;
    padding: 30px;
    width: 300px;
    cursor: pointer;
}

.our-process-item:hover {
    background-color: #ff7900;
    color: #ffffff;
}

.our-guide-item {
    min-height: 400;
    width: 400px;
}

.testimonial-item {
    max-width: 600px;
    border: 2px solid #ff7900;
    padding: 20px;
    border-radius: 11px;
    min-height: 300px;
}

/*About Us*/
.about-item {
    position: relative;
}

.work-culture-img::after {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(17, 22, 28, .7);
    position: absolute;
    opacity: 0;
    z-index: 0;
    -webkit-transition: opacity .4s linear 0s;
    -o-transition: opacity .4s linear 0s;
    transition: opacity .4s linear 0s;
}

.custom-form-input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e9e6e6;
}

@media (max-width: 767px) {
    .col-md-6.d-flex.flex-column.gap-3 {
        padding-right: 0px !important;
        padding-left: 0px !important;
        /* Remove right padding on smaller screens */
    }
}